# Dependencies
node_modules
npm-debug.log
yarn-error.log

# Production
dist
build

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode
.idea
*.swp
*.swo
*~
.project
.classpath
*.c9/
*.sublime-workspace

# Git
.git
.gitignore
.gitattributes

# CI
.github
.gitlab-ci.yml
.travis.yml

# Docker
Dockerfile*
docker-compose*
.dockerignore

# Other
*.md
LICENSE
.editorconfig
.eslintignore